# Entorno Virtual
nasa/
venv/
__pycache__/

# Archivos de Datos Grandes y Procesados
data/raw/*.csv # No subir los datasets grandes
*.xlsx

# Archivos de Modelos
models/*.pkl
models/*.h5
models/*.json

# Archivos de Streamlit/API si se generan
.streamlit/

#Angel
.cursorrules
noupload/